# Project exclude paths

# Compiled class file
target/
*.class


# Log file
*.log

.classpath
.factorypath
.project
.settings

.idea
*.iml
*.iws
classes

bin
gen
build
out
lib

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# Directories anywhere
generatedjava/
generated-java/
generated-jif/

prg/battleship/
prg/battleshipLinkedList/
prg/collection/

manual-jif-files/

# Directories in the root path
/testing/
/backup/
/annotationProcessor/
/jsgx-type-checker/
/JifWorkingFiles/
/test-cases/src/main/java/
/test-cases/src/main/manual-jif-files/
